body {
  font-size: 30px;
}

.jp-contexthelp {
  display: block;
  font-size: 25px;
}

.jp-contexthelp > span {
  display: block;
}

.jp-contexthelp .jp-translation {
  font-size: 16px;
}

.jp-particle {
  color: red;
}

.jp-noun {
  color: darkblue;
}

.jp-auxillaryverb {
  color: orange;
}
